<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="o2.o2web.system.board.dao.BoardDAO">

    <resultMap id="boardSelectMap" type="Board">
        <result property="boardId" column="BRD_ID" jdbcType="VARCHAR"/>
        <result property="boardTitle" column="BRD_TITLE" jdbcType="VARCHAR"/>
        <result property="boardContent" column="BRD_CONT" jdbcType="BLOB"/>
        <result property="boardType" column="BRD_TYPE" jdbcType="VARCHAR"/>
        <result property="viewCount" column="VIEW_CNT" jdbcType="INTEGER"/>
        <result property="registrationUser" column="REG_USR" jdbcType="VARCHAR"/>
        <result property="registrationDate" column="REG_DT" jdbcType="DATE"/>
        <result property="boardIdHasFile" column="BRD_ID_FILE" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="fileListSelectMap" type="BoardFile">
        <result property="fileId" column="FILE_ID" jdbcType="VARCHAR"/>
        <result property="boardId" column="BRD_ID" jdbcType="VARCHAR"/>
        <result property="fileName" column="FILE_NM_SV" jdbcType="VARCHAR"/>
        <result property="originalFileName" column="FILE_NM" jdbcType="VARCHAR"/>
        <result property="filePath" column="FILE_PATH" jdbcType="VARCHAR"/>
        <result property="registrationUser" column="REG_USR" jdbcType="VARCHAR"/>
        <result property="registrationDate" column="REG_DT" jdbcType="DATE"/>
    </resultMap>

    <select id="getBoardResList" parameterType="getBoardsReq" resultMap="boardSelectMap">
        SELECT *
            FROM
            (SELECT ROWNUM AS RNUM, A.*
             FROM   (SELECT cb.BRD_ID, cb.BRD_TITLE, cb.VIEW_CNT, cb.REG_USR, cb.REG_DT, cb.BRD_TYPE, cbf.BRD_ID_FILE
                FROM CMT_BRD cb, (SELECT DISTINCT BRD_ID AS BRD_ID_FILE FROM CMT_BRD_FILE) cbf
                WHERE cb.BRD_TYPE = #{boardType} and cb.BRD_ID = cbf.BRD_ID_FILE(+)

                <if test='searchType == "BRD_TITLE" and searchValue != null'>
                    AND cb.BRD_TITLE LIKE '%'||#{searchValue}||'%'
                </if>

                <if test='searchType == "REG_USR" and searchValue != null'>
                    AND cb.REG_USR LIKE '%'||#{searchValue}||'%'
                </if>
                ORDER BY cb.REG_DT DESC) A)
        <if test="pageNumber != null">
            WHERE <![CDATA[RNUM <= (#{pageNumber} * #{rowSize})]]>
            AND <![CDATA[RNUM >= ((#{pageNumber} - 1) * #{rowSize}) + 1]]>
        </if>
    </select>

    <select id="getListTotalCount" parameterType="getBoardsReq" resultType="int">
        SELECT count(*)
        FROM
        (SELECT ROWNUM AS RNUM, A.*
        FROM   (SELECT BRD_ID, BRD_TITLE, VIEW_CNT, REG_USR, REG_DT
        FROM CMT_BRD
        WHERE BRD_TYPE = #{boardType}

        <if test='searchType == "BRD_TITLE" and searchValue != null'>
            AND BRD_TITLE LIKE '%'||#{searchValue}||'%'
        </if>

        <if test='searchType == "REG_USR" and searchValue != null'>
            AND REG_USR LIKE '%'||#{searchValue}||'%'
        </if>
        ORDER BY REG_DT DESC) A)
    </select>

    <insert id="addBoard" parameterType="board">
        INSERT INTO CMT_BRD(BRD_ID, BRD_TITLE, BRD_CONT, VIEW_CNT, REG_USR, REG_DT, BRD_TYPE)
        VALUES(#{boardId}, #{boardTitle}, #{byteArrayBoardContent}, 0, #{registrationUser}, sysdate, #{boardType})
    </insert>

    <select id="getBoardById" parameterType="String" resultMap="boardSelectMap">
        SELECT BRD_ID, BRD_TITLE, VIEW_CNT, REG_USR, REG_DT, BRD_CONT
        FROM CMT_BRD
        WHERE BRD_ID = #{boardId}
    </select>

    <update id="updateBoard" parameterType="board">
        UPDATE CMT_BRD
        SET BRD_TITLE = #{boardTitle}, BRD_CONT = #{byteArrayBoardContent}
        WHERE BRD_ID = #{boardId}
    </update>

    <update id="updateViewCount" parameterType="String">
        UPDATE CMT_BRD
        SET VIEW_CNT = VIEW_CNT + 1
        WHERE BRD_ID = #{boardId}
    </update>

    <delete id="deleteBoardById" parameterType="List">
        DELETE CMT_BRD
        WHERE BRD_ID IN #{boardId}
    </delete>

    <delete id="deleteBoardsByIdList">
        DELETE CMT_BRD
        WHERE BRD_ID IN
        <foreach item="boardId" collection="list" open="(" close=")" separator=",">
            #{boardId}
        </foreach>
    </delete>

    <insert id="uploadBoardFile" parameterType="boardFile">
        INSERT INTO CMT_BRD_FILE(FILE_ID, BRD_ID, FILE_NM, FILE_NM_SV, FILE_PATH, REG_USR, REG_DT)
        VALUES(#{fileId}, #{boardId}, #{originalFileName}, #{fileName}, #{filePath}, #{registrationUser}, sysdate)
    </insert>

    <select id="getFileListByBoardId" parameterType="String" resultMap="fileListSelectMap">
        SELECT *
        FROM CMT_BRD_FILE
        WHERE BRD_ID = #{boardId}
    </select>

    <delete id="deleteFileById" parameterType="String">
        DELETE CMT_BRD_FILE
        WHERE FILE_ID = #{fileId}
    </delete>

    <delete id="deleteFilesByIds">
        DELETE CMT_BRD_FILE
        WHERE FILE_ID IN
        <foreach item="fileId" collection="list" open="(" close=")" separator=",">
            #{fileId}
        </foreach>
    </delete>

    <select id="getFileNamesByIds" resultType="string">
        SELECT FILE_NM_SV
        FROM CMT_BRD_FILE
        WHERE FILE_ID IN
        <foreach item="fileId" collection="list" open="(" close=")" separator=",">
            #{fileId}
        </foreach>
    </select>

    <select id="getFileIdsByBoardId" parameterType="string" resultType="string">
        SELECT FILE_ID
        FROM CMT_BRD_FILE
        WHERE BRD_ID LIKE #{boardId}
    </select>



</mapper>